/* xperimental stylesheet! */



/* GLOBAL */

.body {
	background-color: whitesmoke;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

	margin-left: 1rem;
	margin-right: 10vw;
}



/* TITLE */

#title {
	font-size: 3rem;
	text-decoration: underline;
}

h2 {
	margin-bottom: 30px;
}



/* NAV */

.nav {
	display: inline-block;
	border: 1px solid black;

	padding-right: 24vw;
	margin-bottom: 30px;
}

.nav ul {
	list-style: none;
}

.nav ul a {
	color: black;
	text-decoration-style: double;
}

.nav ul a:hover {
	color: black;
	text-decoration: none;
}

.nav ul a li {
	margin-bottom: 10px;
	padding: 5px;
	font-size: 20px;
}

.nav ul a li img {
	height: 18px;
	margin-left: 7px;
}

.join-link {
	text-decoration: none;
}

.join-text {
	border: 3px solid black;
	text-align: center;
}

.join-text:hover {
	box-shadow: 10px 5px black;
}



/* CONTENT */

.aims {
	border: 1px solid black;

	font-size: 20px;

	padding-right: 20vw;
	margin-bottom: 30px;
}

.aims h2 {
	margin-left: 18px;
	font-size: 1.8rem;
}

.aims ul li {
	margin-bottom: 10px;
	line-height: 1.5;

	list-style: none;
}

.aims ul li b {
	font-size: 1.5rem;
}



/* VIDEO */

/* .video {
	display: block;
	margin: 30px auto 30px auto;
	border: 1px solid black;

	width: 50%;
}

.vid-wrap {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.vid-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} */